<html>

<head>
	<link
		href="https://fonts.googleapis.com/css2?family=Arvo&family=Bitter&family=Copse&family=Cutive&family=Lora:wght@700&family=Sanchez&family=Scope+One&family=Slabo+27px&family=Trocchi&family=Vesper+Libre&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
	<style>
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: 'Lora', serif;
		}

		.teamName {
			font-family: 'Black Ops One', cursive;
		}
	</style>
</head>

<body>
	<h1>Figma Projects & Files listing from the <span class="teamName">{{team_name}}</span> Team</h1>
	<p>
		Projects Include:
		{% for project in result %}
		{{project.name}},
		{% endfor %}
	</p>


	{% for project in result %}
	<h2>{{project.name}}</h2>
	<table>
		<tr>
			<th id="c1">Name & Image</th>
			<th id="c2">Last Updated</th>
		</tr>
		{% for file in project.files %}
		<tr>
			<td headers="c1">
				<a href="https://www.figma.com/file/{{file.key}}">
					<h3>{{file.name}}</h3>
					<img width="100px" height="100px" src="{{file.thumbnail_url}}" alt="{{file.name}}">
				</a>
			</td>
			<td headers="c2">{{file.last_modified|friendly_time }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endfor %}
</body>

</html>
